<header class="site-header">
    <div class="header-background">
        <div class="header-backdrop">
            <a href="/"><img class="author-head-pic" src="/assets/author-head3.png"/></a>
            <a href="/"><img class="site-title-img" src="/assets/site-title.png" alt="Stephen Rice - fantasy and science ficiton author"/></a>
      </div>
  </div>
  <div class="menu-background">
      <div class="menu-backdrop">
        <a class="page-link" href="/" onclick="">Home</a>
        <a class="page-link" href="/#blog" onclick="">Blog</a>
        <a class="page-link" href="/#mailing" onclick="blinkMailingList();">Mailing List</a>
        <a class="page-link" href="/#about" onclick="">About</a>
        <a class="page-link" href="/#contact" onclick="">Contact</a>
      </div>
  </div>
</header>