

<div class="small-content goodreads-widget">
  <div id="gr_header"><h1><a rel="nofollow" href="https://www.goodreads.com/book/show/56537126-a-handful-of-souls">Goodreads Reviews for A Handful of Souls</a></h1></div>
    <iframe sandbox id="the_iframe" src="https://www.goodreads.com/api/reviews_widget_iframe?did=DEVELOPER_ID&format=html&header_text=Goodreads+reviews+for+A+Handful+of+Souls&isbn=1838103112&links=9b4700&min_rating=4&num_reviews=&review_back=ffffff&stars=e87400&stylesheet=&text=444" width="360" height="400" frameborder="0"></iframe>
</div>

<div class="large-content goodreads-widget">
  <div id="gr_header"><h1><a rel="nofollow" href="https://www.goodreads.com/book/show/56537126-a-handful-of-souls">Goodreads Reviews for A Handful of Souls</a></h1></div>
    <iframe sandbox id="the_iframe" src="https://www.goodreads.com/api/reviews_widget_iframe?did=DEVELOPER_ID&format=html&header_text=Goodreads+reviews+for+A+Handful+of+Souls&isbn=1838103112&links=9b4700&min_rating=4&num_reviews=&review_back=ffffff&stars=e87400&stylesheet=&text=444" width="780" height="400" frameborder="0"></iframe>
</div>

