---
---

@import "minima";

body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #f6f5f1;
    background-color: black;
}

h1,h2,h3,h4,h5 {
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: 'Crimson Pro', serif;
}

h1,h2,h3 {
    color: #fbda4a
}

li {
    margin-bottom: 5px;
}

.small-star {
    font-size: 9pt;
}

.quote {
    color: #7c7c7c;
}

.map {
    opacity: 0.9;
    float: right;
    width: 50%;
    margin-left: 25px;
    border-radius: 5px;
}

.page-content {
   padding: 0px;
}

.header-background {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.break-background {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.bottom-wrapper {
    min-height: 5px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    position: relative;
}

.site-header {
    border-top: 0px;
    border-bottom: 0px;
    min-height: unset;
    padding-top: 30px;
}

.wrapper {
    max-width: -webkit-calc(1100px - (30px * 2));
    max-width: calc(1100px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.blog-narrower{
    max-width: -webkit-calc(650px - (30px * 2));
    max-width: calc(650px - (30px * 2));
    margin-right: auto;
    padding-top: 10px;
    float: left;
}

.blog-image{
    float: left;
    max-width: 390px;
}

.header-backdrop {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    display: flex;
    padding-left: 20px;
}

.menu-backdrop {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.menu-background {
    background: rgba(0, 0, 0, 0.6);
    padding-left: 10px
}

.subheading-background {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-bottom: 20px;
}

.subheading-backdrop {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.site-title-img {
    margin-bottom: 5px;
}


.page-link {
    color: #c9c9c9;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 12pt;
    text-align: center;
}

.main-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/assets/bigdesk.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: black;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.main-section-book {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("/assets/bigdesk.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: black;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.more-link {
    width:100%;
    text-align: right;
    font-size: 18px;
    margin-top: 20px;
}

a {
    color: #f38324;
}

a:hover {
    color: #f38324;
}

a:visited {
    color: #af5e19;
}

a.page-link:visited {
    color: #c9c9c9;
}

a.page-link:hover {
    color: #c9c9c9;
}

.spacer {
    height: 100px;
    width: 100%;
}

.blog-date {
    color: #c9c9c9;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 18px;
    margin-top: 2px;
    font-family: 'Crimson Pro', serif;
}

.big-heading {
    font-size: 60px;
    color: #fbda4a;
    font-family: 'Crimson Pro', serif;
}

.blog-title {
    margin-bottom: 15px;
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mailing-list {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 200px;
}

.book-small {
    width: 240px;
    height: 384px;
    float: left;
    margin-right: 15px;
    transition-property: all;
    transition-duration: 0.5s;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-color: #fbda4a;
    border-width: 1px;
    border-style: solid;
}

.book-small:hover {
    width: 265px;
    height: 424px;
}

.book-img {
    border-radius: 5px;
}

.series-title-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.series-title {
    margin-bottom: 0px;
    margin-right: 10px;
}

.series-text {
    font-size: 12pt;
}

.book-container {
    display: flex;
    width: 100%;
}

.book-layout {
    width: 100%;
}

.book-layout-cover {
    width: 40%;
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: #fbda4a;
    border-width: 1px;
    border-style: solid;
}

.book-content {
    float: none;
}

.hidden {
    visibility: hidden;
}

.subscribe {
    font-size: 16pt;
    transition-property: font-size;
    transition-duration: 0.5s;
}

.subscribe-large {
    font-size: 20pt;
}

.subscribe-sub {
    font-size: 12pt;
}

.buy-amazon {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    font-size: 16pt;

}

.youtube-embed {
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    width: 100%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Goodreads */

.goodreads-widget {
    font-family: georgia, serif;
    padding: 0px 0;
}

.goodreads-widget h1 {
    font-weight:normal;
    font-size: 16px;
    margin-bottom: 10px;
}

.goodreads-widget a {
    text-decoration: none;
    color:#9b4700;
}

iframe{
    background-color: #fdfdfd;
    padding-right: 5px;
}

.goodreads-widget a:hover {
    text-decoration: underline;
}

.goodreads-widget a:active {
    color:#9b4700;
}

#gr_footer {
    width: 100%;
    border-top: 1px solid #BBB596;
    text-align: right;
}

.goodreads-widget .gr_branding{
    color: #9b4700;
    font-size: 11px;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-background {
}

.break-background {
}

.blog-fadein {
    width: 100%;
    opacity: 0.3;
    background-color: rgba(0,0,0,0.9);
}

.blog-wrapper {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    display: flex;
    line-height: 25.5px;
}

.about-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/assets/MyDesk.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: black;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    min-height: 800px;
    padding-right: 30px;
    padding-left: 30px;
}

.about-background {
    width: 100%;
}

.about-backdrop {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding-left: 20px;
}

.contact-section {
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    min-height: 800px;
    padding-right: 30px;
    padding-left: 30px;
}

.contact-background {
    width: 100%;
}

.contact-backdrop {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding-left: 20px;
}

.contact-label {
    font-size: 16pt;
    color: #fbda4a
}

.award {
    height: 200px; 
}


.blog-background {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.back-to-top {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    padding-left: 20px;
    font-size: 12pt;
}

/* adaptive content */

.small-content {
    display: block;
}

.large-content {
    display: none;
}

.blog-image{
    float: left;
    max-width: 150px;
    margin-top: 90px;
}

.author-head-pic {
    height: 50px;
    min-width: 43px;
}

.book-container {
    height: 200px;
}

@media only screen and (min-width: 400px) {

.small-content {
    display: none;
}

.large-content {
    display: block;
}

.blog-image{
    float: left;
    max-width: 390px;
}

.author-head-pic {
    height: 100px;
    min-width: 85px;
}

.book-container {
    height: 400px;
}

}