---
layout: default
---

<div class="main-section">
    <div class="wrapper">
        <h1>Contact</h1>
        <ul>
            <li>Twitter for writing updates and other ramblings: <a href="https://twitter.com/writing_steve">@writing_steve</a></li>
            <li>Goodreads to laugh at my reading pace: <a href="https://www.goodreads.com/author/show/21107669">Author Page</a></li>
            <li>Mailing list for release notifications: <a href="#mailing" onclick="blinkMailingList();">Sign up</a></li>
        </ul>
        <br />
        Or feel free to send me a message using the form below.
        <br />
        <iframe class="contact-form" src="https://docs.google.com/forms/d/e/1FAIpQLSce8xoZrtT1Oly4rc5iV-sHm3NvxgeJ3S1lkw2sMJblVKBToQ/viewform?embedded=true" width="640" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
{% include mailing.html %}



