---
layout: default
---

<div class="main-section">
    <div class="wrapper">
        {{ content }}
        <h1>The Split Sea</h1>
        <p>Dark fantasy novels about a strange family in a dying, spirit-filled world.</p>
        <div class="book-container">
        {% assign books_by_entry = site.books | sort: "entry" %}
        {%- for book in books_by_entry -%}
            <div class="book-small">
                <a href="{{ book.url }}"><img src="/assets/{{ book.cover }}" /></a>
            </div>
        {%- endfor -%}
        </div>
        <div class="more-link">
            <a href="/extras/">Maps, Glossary and Extras...</a>
        </div>
    </div>
    <br />
    <br />
    <div class="site-header">
        <div class="break-wrapper">
            <div class="header-backdrop">
                <img class="site-title-img" src="/assets/latest-blog.png" />
            </div>
        </div>
        
        {%- assign post = site.posts.first -%}
        <div class="menu-background">
            <div class="menu-backdrop">
                <p class="blog-date">{{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
        </div>
    </div>
    <br />
    <div class="wrapper">
        <h1 class="blog-title">{{ post.title }}</h1>
        {{post.content}}
        <div class="more-link">
            <a href="/blog/">More blogs...</a>
        </div>
    </div>
</div>
{% include mailing.html %}
