<div class="small-content youtube-embed">
    <iframe width="340" height="315" src="https://www.youtube.com/embed/RzdRHa8Ru5k?start=135" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="large-content youtube-embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RzdRHa8Ru5k?start=135" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>